/* Body styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main content container */
main {
    flex-grow: 1;
}

/* Navigation styling */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

/* About Me Section styling with CSS Grid */
#about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    text-align: left;
    padding: 50px;
    background-color: #f2f2f2;
}

#about-me h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#about-me img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

#about-me p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
}


/* Work Section styling */
#work {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 300px;
    margin-bottom: 40px;
}

.project img {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}



/* Additional Contact Details Styling */
#contact .contact-details {
    list-style-type: none;
    padding: 0;
}

#contact .contact-details li {
    font-size: 14px;
    margin-bottom: 10px;
}

#contact .contact-details a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#contact .contact-details a:hover {
    color: #555;
}



/* Responsive design - adjust as needed */
@media only screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        text-align: left;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

