/* Body styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
    color: #495057;
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/background-image.png");
    background-size: cover;

}

/* Main content container */
main {
    flex-grow: 1;
}

/* Navigation styling */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343a40; /* Dark background color for navigation */
    padding: 10px;
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    transition: background-color 0.3s ease;
}
nav ul li:hover {
    background-color: #17a2b8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.topImg{
height: 300px;
width: 100%;
margin-bottom: 25px;
background-image: url("../images/topImg.jpg");
background-size: cover;
background-position: center;
border-radius: 8px;
}

/* About Me Section styling with CSS Grid */
#about-me {
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    text-align: left;
    padding: 50px;
    background-color: #e9ecef;
    margin: 10px 10px 10px 10px;
}

#about-me h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #212529; /* Dark text color */
}

#about-me img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

#about-me p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #495057; 
}

/* Work Section styling */
#work {
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 300px;
    margin: 0 10px 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.project h3 {
    padding: 10px;
    font-size: 1.2rem;
}

.project p {
    padding: 10px;
    font-size: 1rem;
    color: white;
}

.project:hover {
    background-color: #17a2b8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

#contact{
    border-radius: 8px;
    display: grid;

    gap: 20px;
    align-items: center;
    text-align: left;
    padding: 50px;
    background-color: #e9ecef;
    margin: 10px 10px 10px 10px;
}


#contact .contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    list-style-type: none;
    padding: 0;
}

#contact .contact-details li {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

#contact .contact-details a {
    color: #495057;
    text-decoration: none;
    font-weight: bold;
}


#contact .contact-details a:hover {
    background-color: #17a2b8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
