/* Body styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main content container */
main {
    flex-grow: 1;
}

/* Navigation styling */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

/* About Me Section styling */
#about-me {
    text-align: center;
    padding: 50px;
    background-color: #f2f2f2;
}

#about-me img {
    border-radius: 50%;
    max-width: 150px;
    margin: 20px 0;
}

/* Work Section styling */
#work {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 300px;
    margin-bottom: 40px;
}

.project img {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Contact Section styling */
#contact {
    text-align: center;
    padding: 50px;
    background-color: #f2f2f2;
}


/* Responsive design - adjust as needed */
@media only screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        text-align: left;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

